.events-form{
    text-align: center;
      color: black;
      background-color: #e8baba;
      border-color: #e8baba ;
      width:150px;
    }
    
    .events-form:hover{
        background-color: #e8baba!important;
        color:black;
        border-color: #e8baba;
      }
      
      .events-form:focus{
        background-color: #fad3d9!important;
        color:black;
      }
    