#login-btn {
      color: #ffffff;
      background-color: #e8baba !important;
      border: #e8baba;
      font-size: 16px;
      padding: 10px 40px;
      text-align: center;
  }
  
  .header_links{
      color: black;
  }
  
  .header_links:hover{
      text-decoration: none;
      color: black;
  }