
.Navbar {  
     
     top:10px;
     left:5px;
      margin: auto;
      width: 100%;
      position: fixed;
     
      

}

.NavLink{
      color:#ffffff !important
}
.btn {
    color: #ffffff;
      background-color: #e8baba !important;
      border: #e8baba;
      font-size: 16px;
      padding: 10px 40px;
      text-align: center;
      
}


.show-nav {
      height: 120px;
  }
  
  /* Media screen size */
  @media screen and (min-width: 768px) {
      button {
          display: none;
      }
  
      .links {
          height: auto;
          display: flex;
      }
  
     
  }