#avatar{

    width:20%;
    height:100%;
    
    margin-left:350px;
    

}
.profile-container{
    height: 100%;
  width: 80%;
  display: fixed;
  justify-content: center;
  align-items: center;
  margin-left:100px;
  margin-bottom: 300px;
}
.contain{
    height: 150px;
    padding: 10px;
    margin-left:250px;
color:#e8baba;
}

#edit-btn{
    text-align: center;
    color: black;
    background-color: #e8baba;
    border-color: #e8baba;
    width:150px;
    display: inline-block;
    
    margin-left: 350px;
}

#editP-btn{
    text-align: center;
    color:white;
    background-color: #e8baba;
    border-color: #e8baba;
    width:150px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 100px;
}