#avatar{

    width:100%;
    height:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;

}
.profile-container{
    height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px;
}

#edit-btn{
    text-align: center;
    color: black;
    background-color: #e8baba;
    border-color: #e8baba;
    width:150px;
    margin-bottom: 20px;
}