.profile-container{
    display: inline-block;
}
.contain{
   
    padding: 10px;
    color:#df9f9f;
}

#editP-btn{
    text-align: center;
    color:white;
    background-color: #df9f9f;
    border-color: #df9f9f;
    width: 80%;
    display: inline-block;
}

.parent{
    text-align: center;
    width: 100%;
}