.form{
    margin-top:10px;
}
.card-signin {
    border: 1px solid #e8baba ;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .button {
      text-align: center;
    color: black;
    background-color: #e8baba;
    border-color: #e8baba;
    width:150px;
    margin-left: 140px;
}
.button:hover{
  background-color: #d4b1b5!important;
  color:black;
  border-color: #e8baba;
}

.button:active{
  background-color: #e8baba !important;
}
.button:focus{
  color:black;
  background-color: #e8baba!important;
}

.login-link{
  text-align: center;
  color: black;
  background-color: white;
  border-color: #e8baba!important ;
  width:150px;
  margin:15px 0px 0px 140px;
}

.login-link:hover{
  background-color: #d4b1b5 !important;
  color:black;
  border-color: #e8baba;
}

.login-link:focus{
  background-color: #e8baba!important;
  color:black;
}